#footer {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
}

#copyright {
    padding-top: 25px;
    padding-bottom: 25px;
}

figure.social {
    margin-bottom: 20px;
}

table.programme {
    width: 100%;
}

table.fees {
    margin-bottom: 20px;
}

#fees {
    padding-bottom: 20px;
    display: flex;
}

th, td {
  padding: 5px;
}

p {
    font-size: 1.1em;
}

.form-group-paypal {
    max-width: 750px;
    margin: 0 auto;
}

.sponsors {
  padding: 0;
  margin-bottom: 40px;
}
.sponsors .item {
  list-style-type: none;
  text-align: center;
  margin: 0 20px;
}
.sponsors .item img {
  display: inline-block;
}
.sponsors .item img:hover {
  max-width: auto;
  filter: none;
  -webkit-filter: none;
}


.owl-wrapper{
    display: flex !important;
    align-items: center;
}